<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MADECARE</title>
    <link rel="stylesheet" href="../../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../../css/index.css">
     <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
    <script type="text/javascript" src="../../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../../libs/sidenav/sidenav.min.js"></script>
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>

<body>
 <!--header-->
   <header class="aui-bar aui-bar-nav">
           <a class="aui-pull-left logo">
             <img src="../../../images/logo.png">
        </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--HOME-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">HOME</span>
	        </a>
            </li>

            <!--PRODUCTS-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">PRODUCTS</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">PRODUCTS</a></li>                <li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li>                <li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>                <li><a href="../project/project_td.html">Intelligent Rehabilitation/转移系统</a></li>                <li><a href="../project/project_jh.html">Patient Monitoring</a></li>                <li><a href="../project/project_dn.html">Urinary Catheterization器/Urinary Catheterization系统</a></li>                <li><a href="../project/project_yun.html">Madecare Cloud</a></li><li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li><li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>
                </ul>
            </li> -->
            <!--SOLUTIONS-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">SOLUTIONS</span>
	          
	        </a>
                
            </li>
            <!--ABOUT-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">ABOUT</span>
	        </a>
            </li>
            <!--NEWS-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">NEWS</span>
	        </a>
            </li>
            <!--JOBS-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">JOBS</span>
	        </a>
            </li>
            <!--CONTACT-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">CONTACT</span>
	        </a>
            </li>
            <!--中英文切换-->
        <li>
            <a href="../../index.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">language</i>
	          </span>
                <span class="sidenav-link-title">中文</span>
            </a>
        </li>
        </ul>
    </nav>

    <!--NEWS-->
    <div class="aui-content">
        <img src="../../../images/banner-news.png"  class="ban">
    </div>
      <div class="aui-content ">
        <p class="aui-padded-10 aui-text-center dt">NEWS</p>		
		<a href="../dynamic/dynamic_20191108.html">
		    <div class="aui-content dongtai">
		        <ul class="aui-user-view aui-in">
		            <li class="aui-user-view-cell aui-img">
		                <img class="aui-img-object aui-pull-left" src="../../../images/index/dynamic_20191108.png">
		                <div class="aui-img-body">
		                    <span>化繁为简|国际康复设备展览会<br><br> <em class="aui-text-right">2019-11-8</em></span>
		                    <p class="aui-ellipsis-1">为加强康复医学学术交流与合作，发挥高端学术会议引领辐射作用，打造综合学术年会品牌...</p>
		                </div>
		            </li>
		        </ul>
		    </div>
		</a>

		<a href="../dynamic/dynamic_20190828.html">
		    <div class="aui-content dongtai">
		        <ul class="aui-user-view aui-in">
		            <li class="aui-user-view-cell aui-img">
		                <img class="aui-img-object aui-pull-left" src="../../../images/index/dynamic_20190828.png">
		                <div class="aui-img-body">
		                    <span>展会回顾|“无感”监护 第八届中国国际养老服务业博览会<br> <em class="aui-text-right">2019-8-28</em></span>
		                    <p class="aui-ellipsis-1">第八届中国国际养老服务业博览会吸引了来自20多个国家和地区的220多家社会组织...</p>
		                </div>
		            </li>
		        </ul>
		    </div>
		</a>		
        <a href="../dynamic/dynamic_yxgc.html">
            <div class="aui-content dongtai">
                <ul class="aui-user-view aui-in">
                    <li class="aui-user-view-cell aui-img">
                        <img class="aui-img-object aui-pull-left" src="../../../images/index/news (1).jpg">
                        <div class="aui-img-body">
                            <span>北京国际医学工程大会暨产品与技术交易博览会   <br> <em class="aui-text-right">2017-10-13</em></span>
                            <p class="aui-ellipsis-1">美德远健展出了全新的有自主专利的创新产品，领动TM系列Intelligent Rehabilitation解决.美德远健展出了全新的有自主专利的创新产品...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
        <a href="../dynamic/dunamic_fh.html">
            <div class="aui-content dongtai ">
                <ul class="aui-user-view aui-in">
                    <li class="aui-user-view-cell aui-img">
                        <img class="aui-img-object aui-pull-left" src="../../../images/index/syb_4.png">
                        <div class="aui-img-body">
                            <span>2017年全国大众创业万众创新活动周  <br><br><em class="aui-text-right">2017-10-09</em></span>
                            <p class="aui-ellipsis-1">9月15日，2017年全国双创周正式开幕。今年，北京会场主题展示面积达1.2万</p>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
        <a href="../dynamic/dunamic_fh.html">
            <div class="aui-content dongtai">
                <ul class="aui-user-view aui-in">
                    <li class="aui-user-view-cell aui-img">
                        <img class="aui-img-object aui-pull-left" src="../../../images/index/syb_2.jpg">
                        <div class="aui-img-body">
                            <span>2016北京国际医学工程转化高峰论坛在京召开<br><em class="aui-text-right">2016-10-13</em></span>
                            <p class="aui-ellipsis-1">中国经济网北京10月13日讯 由中国食品药品企业质量安全促进会、中关村</p>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
    </div>
    <!--底部-->
    <!-- <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div> -->

</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
     $('[data-sidenav]').sidenav();
</script>

</html>
