<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MADECARE</title>
    <link rel="stylesheet" href="../../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../../css/dynamic.css">
     <link rel="stylesheet" href="../../../css/common.css">
    <script type="text/javascript" src="../../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<body>
   <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--HOME-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">HOME</span>
	        </a>
            </li>

            <!--PRODUCTS-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">PRODUCTS</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">PRODUCTS</a></li>                <li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li>                <li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>                <li><a href="../project/project_td.html">Intelligent Rehabilitation/转移系统</a></li>                <li><a href="../project/project_jh.html">Patient Monitoring</a></li>                <li><a href="../project/project_dn.html">Urinary Catheterization器/Urinary Catheterization系统</a></li>                <li><a href="../project/project_yun.html">Madecare Cloud</a></li><li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li><li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>
                </ul>
            </li> -->
            <!--SOLUTIONS-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">SOLUTIONS</span>
	          
	        </a>
                
            </li>
            <!--ABOUT-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">ABOUT</span>
	        </a>
            </li>
            <!--NEWS-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">NEWS</span>
	        </a>
            </li>
            <!--JOBS-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">JOBS</span>
	        </a>
            </li>
            <!--CONTACT-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">CONTACT</span>
	        </a>
            </li>
            <!--中英文切换-->
        <li>
          <a href="../../index.html">
           <span class="sidenav-link-icon">
            <i class="material-icons">language</i>
          </span>
              <span class="sidenav-link-title">中文</span>
          </a>
      </li>
        </ul>
    </nav>

    <!--NEWS-->
    <div class="aui-content">
        <img src="../../../images/banner-news.png" alt="" class="ban">
    </div>
    <p class="aui-padded-10 aui-text-center dt">NEWS</p>
    <div class="bx">
      <h3>美德智能康复护理医疗器械产品亮相第二届“北京国际医学工程大会暨产品与技术交易博览会”</h3><span>时间：2017-10-15 &nbsp; &nbsp&nbsp&nbsp; 发布者：xxx</span>
      <p>&nbsp; &nbsp;  &nbsp; &nbsp为推动医学工程发展，提升医学创新能力，2017年10月13至14日，第二届北京国际医学工程大会暨产品与技术交易博览会在中关村医学工程转化中心园区隆重举行。</p>
      <p> &nbsp; &nbsp&nbsp; &nbsp; 美德远健展出了全新的有自主专利的创新产品，领动TM系列智能康复解决方案及致护TM系列智能护理解决方案。智能转移和康复系统、智能导尿监护和膀胱康复系统以及床旁长期监护系统的亮相，引来了与会专家和观众的广泛关注和高度评价，在展会上独树一帜。智能转移和康复系统有效解决了病人的减重下肢康复训练和全覆盖的安全转移问题，智能导尿系统有效解决了中国每年3000多万套留置式导尿管的使用者的膀胱保护和康复、日夜不间断的护理负担，长期床旁监护以一种新的技术让病人和老人的健康监测、安全照护和疾病预警变得简单和智能。</p>
      <img src="../../images/index/news (1).jpg" >
      <p> &nbsp; &nbsp&nbsp; &nbsp; 本届大会由中国食品药品企业质量安全促进会和中关村医学工程转化中心共同主办，中关村国际医药检验认证科技有限公司协办。参加本次会议的有中、加、英、美、以色列等国家近40名医学工程研究领域的专家学者，其中不乏在国际医学舞台上被公认的顶级领军人物。国家食药监总局副局长孙咸泽、国家中医药管理局副局长于文明以及工信部、卫计委、科技部火炬中心、北京市和海淀区政府部门相关领导也出席了本次大会。</p>
  </div>

    <!--底部-->
    <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div>

</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
     $('[data-sidenav]').sidenav();
</script>

</html>
