<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MADECARE</title>
    <link rel="stylesheet" href="../../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../../css/dynamic.css">
     <link rel="stylesheet" href="../../../css/common.css">
    <script type="text/javascript" src="../../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<body>
    <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--HOME-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">HOME</span>
	        </a>
            </li>

            <!--PRODUCTS-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">PRODUCTS</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">PRODUCTS</a></li>                <li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li>                <li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>                <li><a href="../project/project_td.html">Intelligent Rehabilitation/转移系统</a></li>                <li><a href="../project/project_jh.html">Patient Monitoring</a></li>                <li><a href="../project/project_dn.html">Urinary Catheterization器/Urinary Catheterization系统</a></li>                <li><a href="../project/project_yun.html">Madecare Cloud</a></li><li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li><li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>
                </ul>
            </li> -->
            <!--SOLUTIONS-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">SOLUTIONS</span>
	          
	        </a>
                
            </li>
            <!--ABOUT-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">ABOUT</span>
	        </a>
            </li>
            <!--NEWS-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">NEWS</span>
	        </a>
            </li>
            <!--JOBS-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">JOBS</span>
	        </a>
            </li>
            <!--CONTACT-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">CONTACT</span>
	        </a>
            </li>
            <!--中英文切换-->
          <li>
            <a href="../../index.html">
            <span class="sidenav-link-icon">
              <i class="material-icons">language</i>
            </span>
                <span class="sidenav-link-title">中文</span>
            </a>
        </li>
        </ul>
    </nav>

    <!--NEWS-->
    <div class="aui-content">
        <img src="../../../images/banner-news.png" alt="" class="ban">
    </div>
    <p class="aui-padded-10 aui-text-center dt">NEWS</p>
    <div class="bx">
        <h3>展会回顾|“无感”监护 第八届中国国际养老服务业博览会</h3><span>时间：2019-08-28 &nbsp; &nbsp&nbsp&nbsp; 发布者：xxx</span>
 

        <p> 石家庄（北京）生物医药健康产业专题对接会签约仪式于2018年5月16日在北京圆满完成，美德远健作为重点邀请入区企业成功签约入区。</p>
		       <img src="./dynamic_20190828/828_1-cbbb3e9189ddba815eef6d614d322f0b.gif" style="margin-top:0.5rem;">
        <p> 美德远健以“无感”监护为主题，以非接触式为核心，借技术变革与重构之际洞见养老新机遇，打开智能养老未来之门。</p>
            <img src="./dynamic_20190828/828_2-b3b31e9e75ae170819b4c9f9481fa66c.png" style="margin-top:0.5rem;">
        <p> 此次美德远健携致护™长期床旁监护系统 PMS-600 隆重登场。吸引了众多业内人士和观展商驻足观摩，受到了众多专家学者们的一致好评。</p>
            <img src="./dynamic_20190828/828_3-9207b188d36d4ec0fef59b3dc031048a.png" style="margin-top:0.5rem;">
        <img src="./dynamic_20190828/828_5-a138f43485b8a053f0b7f5528d844143.png" style="margin-top:0.5rem;">
        <p> “PMS-600长期床旁监护系统”是一款适合于养老院、医院等，用于老人或患者长期健康监测和身体异常预警的系统。采用了先进的传感技术及算法，能对心率、呼吸、体动进行监测，实现了心率变异分析、翻身提醒、睡眠分析、中央监测等功能。完全不接触身体、不干扰使用者的生活习惯，基于云的数据采集和管理技术将助力远程监护和中央监测先进管理模式的升级。</p>
            <img src="./dynamic_20190828/828_6-3f23de3007667d65cf0466f67feba64f.gif" style="margin-top:0.5rem;">

    </div>
    <!--底部-->
    <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div>

</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
    $('[data-sidenav]').sidenav();

</script>

</html>
