<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MADECARE</title>
    <link rel="stylesheet" href="../../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../../libs/aui/aui-slide.css">
    <link rel="stylesheet" href="../../../css/project.css">
    <link rel="stylesheet" href="../../../css/aboutus.css">
    <link rel="stylesheet" href="../../../libs/swiper/swiper.min.css">

    <script type="text/javascript" src="../../../libs/aui/api.js"></script>
    <script type="text/javascript" src="../../../libs/zepto.min.js"></script>
    <link rel="stylesheet" href="../../../css/common.css">
    <script type="text/javascript" src="../../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>

<body>
    <header class="aui-bar aui-bar-nav .topn">
        <a class="aui-pull-left logo">
            <img src="../../../images/logo.png">
        </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
            <i class="material-icons">menu</i>
        </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--HOME-->
            <li>
                <a href="../index.html">
                    <span class="sidenav-link-icon">
                        <i class="material-icons">payment</i>
                    </span>
                    <span class="sidenav-link-title">HOME</span>
                </a>
            </li>

            <!--PRODUCTS-->
            <!-- <li>
                <a href="../project/project.html" >
                    <span class="sidenav-link-icon">
                        <i class="material-icons">shopping_cart</i>
                    </span>
                    <span class="sidenav-link-title">PRODUCTS</span>

                </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>
                    <li>
                        <a href="../project/project.html">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="../project/project_td.html">Intelligent Rehabilitation/转移系统</a>
                    </li>
                    <li>
                        <a href="../project/project_dn.html">Urinary Catheterization器/Urinary Catheterization系统</a>
                    </li>
                    <li>
                        <a href="../project/project_jh.html">Patient Monitoring</a>
                    </li>
                    <li>
                        <a href="../project/project_yun.html">Madecare Cloud</a>
                    </li>
                </ul>
            </li> -->
            <!--SOLUTIONS-->
            <li>
                <a href="../solution/solution.html" >
                    <span class="sidenav-link-icon">
                        <i class="material-icons">assignment_ind</i>
                    </span>
                    <span class="sidenav-link-title">SOLUTIONS</span>

                </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>
                    <li>
                        <a href="../solution/solution.html">SOLUTIONS</a>
                    </li>
                    <li>
                        <a href="../solution/solution_kf.html">Limbs Rehabilitation</a>
                    </li>
                    <li>
                        <a href="../solution/solution_zy.html">Patient Safe Transfer</a>
                    </li>
                    <li>
                        <a href="../solution/solution_dn.html">Urinary Catheterization</a>
                    </li>
                    <li>
                        <a href="../solution/solution_jh.html">Continuous Patient Monitoring</a>
                    </li>
                    <li>
                        <a href="../solution/solution_cpx.html">Cardiopulmonary Test & Rehabilitation</a>
                    </li>
                    <li>
                        <a href="../solution/solution_yun.html">Tele-Rehabilitation</a>
                    </li>
                </ul>
            </li>
            <!--ABOUT-->
            <li>
                <a href="../aboutus/aboutus.html">
                    <span class="sidenav-link-icon">
                        <i class="material-icons">supervisor_account</i>
                    </span>
                    <span class="sidenav-link-title">ABOUT</span>
                </a>
            </li>
            <!--NEWS-->
            <li>
                <a href="../dynamic/dynamic.html">
                    <span class="sidenav-link-icon">
                        <i class="material-icons">work</i>
                    </span>
                    <span class="sidenav-link-title">NEWS</span>
                </a>
            </li>
            <!--JOBS-->
            <li>
                <a href="../job/job.html">
                    <span class="sidenav-link-icon">
                        <i class="material-icons">backup</i>
                    </span>
                    <span class="sidenav-link-title">JOBS</span>
                </a>
            </li>
            <!--CONTACT-->
            <li>
                <a href="../contact/contact.html">
                    <span class="sidenav-link-icon">
                        <i class="material-icons">room</i>
                    </span>
                    <span class="sidenav-link-title">CONTACT</span>
                </a>
            </li>
            <!--中英文切换-->
            <li>
                <a href="../../index.html">
                <span class="sidenav-link-icon">
                    <i class="material-icons">language</i>
                </span>
                    <span class="sidenav-link-title">中文</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- <div class="aui-content">
        <img src="../../../images/aboutmebanner.png" alt="" class="ban">
    </div> -->
    <div class="aui-content">
        <!-- <h3 class="aui-padded-10 aui-text-center zn">ABOUT</h3>
        <div class="sm">
            <div class="smz bx">
                <img src="../../../images/shiming.png" alt="">
                <p class="smp">
                    <br> 专注老年人康复/护理, 提供智能化整体SOLUTIONS</p>
            </div>
        </div> -->
        <!--Company Profile-->
        <div id="wrapper">
            <div class="jianjie" style="background: url(../../../images/download2.png) 50% center no-repeat;">
            </div>
            <p class="zt"> &nbsp; &nbsp; &nbsp; &nbsp;                
                MADECARE comes to bring intelligent rehabilitation and intelligent medical care to elderly people. We are passionate on innovation and excellence in tackling world wide aging challenge. We are driving care from manually to automatically then to intelligently, driving rehabilitation from manually to machine assistant to tele-rehabilitation with full coverage. We offer central and telemetry monitoring, neuro rehabilitation and cardiopulmonary rehabilitation solutions for nursing home, hospitals, clinics. MADECARE persist on effort in efficacy, easy of use, intelligence, and quality of product.
			</p>
            
        </div>
        <div class="main">
        </div>
        <!--tab栏-->
        <div class="wrap">
            <div class="tabs">
                <span class="part active" style="width:50%">
                    <a href="#" hidefocus="true">Company Team</a>
                </span>
                <span class="part" style="width:50%">
                    <a href="#" hidefocus="true">Company Vision</a>
                </span>
                <span class="part" style="width:50%">
                    <a href="#" hidefocus="true">Company Mission</a>
                </span>
                <span class="part" style="width:50%">
                    <a href="#" hidefocus="true">Company Culture</a>
                </span>
            </div>
            <div class="swiper-container" style="height:100%;">
                <div class="swiper-wrapper" style="height: 100%;">
                    <div class="swiper-slide swiper-slide-visible swiper-slide-active ">
                        <div class="content-slide aui-row-padded td ">
                            <p class="fis">&nbsp; &nbsp; &nbsp; &nbsp; As a high tech company ,MADECARE has clear strategy, inclusive culture and profession. The founder team is highly trusted team with rich industry experience, start-up running experience, and management experience. The company has also gathered a great partnership team with both entrepreneur spirit and management experience. The company has high efficient R&D capability with rehabilitation technology, control technology, complex mechanical technology, IOT technology, advanced sensing technology and industrial design experience.
                            </p>
							<p class="fis">The company based on the MTP platform which is connected with a plenty of medical resource and multi-channel funding sources. The team will warmly welcome any talent to join and work together. The team will passionately seek solutions to against the challenge of aging and will make great contribution in the rehabilitation and elderly care area.
</p>
                        </div>
                    </div>
                    <div class="swiper-slide aui-row">
                        <div class="content-slide aui-row-padded  td  ">
                            <p class="fis">
                                &nbsp; &nbsp; &nbsp; Build A Highly Efficient， Fast Growth Company with Global Footprint in Elderly’s Healthcareby by Utilizing New Technology and Innovative Business Model.
                            </p>
                            <p>
                                &nbsp; &nbsp; &nbsp; 5 years Goal:
                            </p>
                            <div class="fis" style="    width: 80%;    margin-left: 10%;">
                                <li>&nbsp; &nbsp; &nbsp; Very competitive in elderly rehabilitation and medical care markets; 
                                <br> </li>
								<li>&nbsp; &nbsp; &nbsp; Big data based ， strong innovative company with mobile internet DNA;
								<br> </li>
								<li>&nbsp; &nbsp; &nbsp; Professional， trustable company with product efficacy， easy of use， high quality and intelligence.;
                                <br></li>
								<li>&nbsp; &nbsp; &nbsp; Profitable business model with Backwardness Advantage. R&D，manufacturing，sales and capital operation integrated company;
                                <br></li>
								<li>&nbsp; &nbsp; &nbsp; Highly efficient， globalized company</li>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide aui-row">
                        <div class="content-slide aui-row-padded  td  ">
                            <p class="fis">
                                The aging trend is accelerating in China, a large elderly population has brought unprecedented challenges to health care, professional medical care to the society. There is a big gap between the existing health care and the needs. The accelerated aging will make the contradiction between demand and supply become larger.
                            </p>
                            <p>
                                Thirty years of economic development created a relatively rich population, who has changed their view of health care spending, and are willing to spend money on health. The spending of health care is turning from simple clinical treatment to rehabilitation, nursing and prevention. In the past, the medical development area only focused their attention to the clinical situation. Nowadays, rehabilitation and nursing has become an important complement as part of the overall medical treatment.
                            </p>
                            <div class="fis" >
                               <p>
                                Madecare has a great technology and management team who have worked in medical industry for years. The team works very hard in fighting the challenge from elderly health and aging population. We are sincerely welcome to join us for this great mission.
                               </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide aui-row" style="    width: 20rem;
    height: 100%;
    padding: 0 2%;">
                        <div class="content-slide aui-row-padded  td  ">
                            <p class="fis">
                                <!-- 核心价值 -->
                                <!-- <br> 诚信正直：坚守法律底线、坚守道德底线、遵守公司纪律，不损害客户利益、不损害公司利益、不损害员工利益。
                                <br> 勇于担当：主动发现问题、勇于面对问题、积极解决问题，不推脱、不扯皮、不拖延。
                                <br> 追求卓越：把事情做到极致。设定卓越目标、挖掘潜能、 用尽方法、超越自己。不浅尝辄止、不满足现状、不轻言放弃。
 --> 
							<!-- <p> -->
								<div style="float: left; width: 100%;"><span>Integrity</span> </div><br><br>
								<!-- <div style="float: left; width: 80%;"><span> </span></div><br> -->
								<div style="float: left; width: 100%;"><span>Accountable</span> </div><br><br>
								<!-- <div style="float: left; width: 80%;"><span> </span></div><br> -->
								<div style="float: left; width: 100%;"><span>Passion For Excellence</span> </div><br><br>
								<!-- <div style="float: left; width: 80%;"><span> </span></div><br> -->
							<!-- </p> -->
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <!-- <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司
        <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div> -->
</body>
<script type="text/javascript" src="../../../js/idangerous.swiper.min.js"></script>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
    $(function () {

        var tabsSwiper;
        tabsSwiper = new Swiper('.swiper-container', {
            speed: 500,
            onSlideChangeStart: function () {
                $(".tabs .active").removeClass('active');
                $(".tabs span").eq(tabsSwiper.activeIndex).addClass('active');
            }
        });

        $(".tabs span").on('touchstart mousedown', function (e) {
            e.preventDefault()
            $(".tabs .active").removeClass('active');
            $(this).addClass('active');
            tabsSwiper.swipeTo($(this).index());

        });

        $(".tabs span").click(function (e) {
            e.preventDefault();
        });
    });
    $('[data-sidenav]').sidenav();
</script>

</html>
