.trait {
    width: 62.5rem
  }
  
.trait img {
    display: block;
    margin-top: -4%;
    float: left;
    width: 45%;
    height: 100%;
}

.intro{
    display: table;
    float: left;
    width: 44%;
    padding-top: 9%;
    padding-right: 11%;
    height: 100%;
    font-family: 微软雅黑;
    font-size: .875rem;
    color: #666666;
    line-height: 200%;
}