.trait {
    width: 62.5rem;
    height: 19rem;
  }
  
  .image {
    display: block;
    float: left;
    width: 70%;
}

.intro{
    display: table;
    float: left;
    width: 27.5%;
    margin-right: 2%;
    margin-top: 5%;
    height: 100%;
    font-family: 微软雅黑;
    font-size: .875rem;
    color: #666666;
    line-height: 190%;
}

img{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}