.trait h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .15rem;
  color: #333;
  margin: 1.25rem auto;
  display: block
}

.trait .fir_q {
  margin-top: 1%;
  width: 100%;
  height: 23.125rem
}
.word_14{
  font-size:.875rem;
  font-family: 微软雅黑;
  color: #333333
}

.trait .fir_q p {
  font-size: .875rem;
  line-height: 2.75rem;
  letter-spacing: .0875rem;
  color: #333
}

.trait .fir_q p span {
  font-weight: 900;
  color: #2fa0b5
}

.trait .fir_q ul li {
  float: left;
  width: 18.75rem;
  height: 18.875rem;
  margin-right: 1.875rem;
  border: .0625rem solid #2fa0b5
}

.trait .fir_q ul li li:last-child {
  margin-right: 0
}

.trait .fir_q ul li img {
  width: 18.5625rem;
  height: 16.6875rem;
  display: block
}

.trait .fir_q ul li span {
  font-size: .875rem;
  line-height: 2.0625rem;
  letter-spacing: .0875rem;
  color: #fff;
  display: block;
  background-color: #2fa0b5;
  text-align: center
}

.trait .sec_q {
  margin-bottom: 2.5rem
}

.trait .sec_q p {
  font-size: .875rem;
  line-height: 3.375rem;
  letter-spacing: .0875rem;
  color: #333
}

.trait .sec_q p span {
  font-weight: 900;
  color: #2fa0b5
}
