<script type="text/javascript">
	!function(){
		function params(u, p){
			var m = new RegExp("(?:&|/?)"+p+"=([^&$]+)").exec(u);
			return m ? m[1] : '';
		}
		if(/iphone|ios|android|ipod/i.test(navigator.userAgent.toLowerCase()) == true && params(location.search, "from") != "mobile"){
			// location.href = 'http://m.madecare.com';
			document.location = "mobile/views/index_mobile.html";
			// document.location = 'http://m.madecare.com';
		}
		else{
			// location.href = 'http://XXX.com';
			document.location = "index_pc.html";
		}
	}();
</script>
