<script type="text/javascript">
	!function(){
		function params(u, p){
			var m = new RegExp("(?:&|/?)"+p+"=([^&$]+)").exec(u);
			return m ? m[1] : '';
		}
		if(/iphone|ios|android|ipod/i.test(navigator.userAgent.toLowerCase()) == true && params(location.search, "from") != "mobile"){
			// location.href = 'https://m.madecare.com';
			document.location = "index_mobile.html";
			// document.location = 'https://m.madecare.com';
		}
		else{
			// location.href = 'https://XXX.com';
			// 电脑打开:跳回 PC 版站点根(兼容 GitHub Pages 前缀与服务器根域名两种部署)
			var _base = location.pathname.split('/mobile/')[0] || '';
			document.location = _base + '/';
		}
	}();
</script>
