<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MADECARE</title>
   <link rel="stylesheet" href="../../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../../css/solution.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <script type="text/javascript" src="../../../libs/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
    <script src="../../../libs/sidenav/sidenav.min.js"></script>
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<style>
    .bn {
        width: 100%;
        position:fixed;
        bottom:0;
    }
    .bn p {
        color: #fff;
        font-size: 0.6rem;
    }
    .zn{
        background-color: #fff;
        color: #025361;
        /* border-bottom: 1px solid #ccc; */
        margin-bottom: 0.5rem;

    }
    .tu {
            padding: 0 5%;

    }
</style>
<body>
   <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--HOME-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">HOME</span>
	        </a>
            </li>

            <!--PRODUCTS-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">PRODUCTS</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">PRODUCTS</a></li>                <li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li>                <li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>                <li><a href="../project/project_td.html">Intelligent Rehabilitation/转移系统</a></li>                <li><a href="../project/project_jh.html">Patient Monitoring</a></li>                <li><a href="../project/project_dn.html">Urinary Catheterization器/Urinary Catheterization系统</a></li>                <li><a href="../project/project_yun.html">Madecare Cloud</a></li><li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li><li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>
                </ul>
            </li> -->
            <!--SOLUTIONS-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">SOLUTIONS</span>
	          
	        </a>
                
            </li>
            <!--ABOUT-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">ABOUT</span>
	        </a>
            </li>
            <!--NEWS-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">NEWS</span>
	        </a>
            </li>
            <!--JOBS-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">JOBS</span>
	        </a>
            </li>
      
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">CONTACT</span>
	        </a>
            </li>
            <!--中英文切换-->
          <li>
            <a href="../../index.html">
            <span class="sidenav-link-icon">
                <i class="material-icons">language</i>
            </span>
                <span class="sidenav-link-title">中文</span>
            </a>
          </li>
        </ul>
    </nav>

    <div class="aui-content">
        <!-- <img src="../../../images/solution/solu.png" class="ban" > -->
        <div class="content">
            <div class="content_bg">
                <div class="content_box">
                    <h3 class=" aui-text-center zn" style="padding: 0.5rem !important;font-size:1rem;width: 70%;
                    margin-left: 15%;">Cardiopulmonary Test & Rehabilitation</h3>
                    <img src="./solution_cpx-a309f1cb789aa102dc059baa0dd6bb18.png" alt="" class="tu" style="padding: 0 10%;    margin-top: -7%;">
					<p style="   margin: 0 5%;">Cardiopulmonary Exercise Testing System is essential for cardiopulmonary evaluation and rehabilitation. 
Urinary Catheterization.</p>
<div style="height: 4rem;width: 100%;"></div>
                
				</div>
            </div>
        </div>
    </div>
    <!-- <div class="aui-content aui-text-center bn">
        <p> 美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号</p>

    </div> -->
</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
     $('[data-sidenav]').sidenav();

</script>

</html>
