<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MADECARE</title>
    <link rel="stylesheet" href="../../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../../css/solution.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <script type="text/javascript" src="../../../libs/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
    <script src="../../../libs/sidenav/sidenav.min.js"></script>
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>

<body>
   <header class="aui-bar aui-bar-nav">
           <a class="aui-pull-left logo">
             <img src="../../../images/logo.png">
        </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--HOME-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">HOME</span>
	        </a>
            </li>

            <!--PRODUCTS-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">PRODUCTS</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">PRODUCTS</a></li>                <li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li>                <li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>                <li><a href="../project/project_td.html">Intelligent Rehabilitation/转移系统</a></li>                <li><a href="../project/project_jh.html">Patient Monitoring</a></li>                <li><a href="../project/project_dn.html">Urinary Catheterization器/Urinary Catheterization系统</a></li>                <li><a href="../project/project_yun.html">Madecare Cloud</a></li><li><a href="../project/project_dws1000.html">力感减重Dynamic Body Weight Support</a></li><li><a href="../project/project_tr800.html">Smart Patient Transfer System</a></li>
                </ul>
            </li> -->
            <!--SOLUTIONS-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">SOLUTIONS</span>
	          
	        </a>
                
            </li>
            <!--ABOUT-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">ABOUT</span>
	        </a>
            </li>
            <!--NEWS-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">NEWS</span>
	        </a>
            </li>
            <!--JOBS-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">JOBS</span>
	        </a>
            </li>
            <!--CONTACT-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">CONTACT</span>
	        </a>
            </li>
                      <!--中英文切换-->
          <li>
            <a href="../../index.html">
            <span class="sidenav-link-icon">
                <i class="material-icons">language</i>
            </span>
                <span class="sidenav-link-title">中文</span>
            </a>
          </li>
        </ul>
    </nav>

    <div class="aui-content">
        <img src="../../../images/solution/solu.png" class="ban">
        <div class="content">
            <div class="content_bg">
                <div class="content_box">
                    <h3 class=" aui-text-center zn"> SOLUTIONS</h3>

                    <!--1-->
                    <a href="../solution/solution_kf.html">
                        <div class="aui-list-item-media img_box" style="margin-top:1rem;">
                            <img src="../../../images/solution/solution_01.png">
                        </div>
                        <div class="aui-media-list-item-inner fangan ">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title tb .aui-flex-center ">Limbs Rehabilitation</div>
                                </div>
                                <div class="aui-list-item-text wz">
                                    Ceiling mounted system for lower limbs rehab training and gait exercise.
                                </div>
                            </div>
                        </div>
                    </a>

                    <!--2-->
                    <a href="../solution/solution_zy.html">
                        <div class="aui-list-item-media  img_box">
                            <img src="../../../images/solution/solution_02.png">
                        </div>
                        <div class="aui-media-list-item-inner fangan">

                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title tb">Patient Safe Transfer</div>
                                </div>
                                <div class="aui-list-item-text wz">
                                    with full coverage for patient safe transfer in hospital， nursing home and home.
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--3-->
                    <a href="../solution/solution_dn.html">
                        <div class="aui-list-item-media  img_box">
                            <img src="../../../images/solution/solution_03.png">
                        </div>
                        <div class="aui-media-list-item-inner fangan">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title tb">Urinary Catheterization</div>
                                </div>
                                <div class="aui-list-item-text wz">
                                    Smart catheterization system to protect bladder function for any patient using urinary catheter.
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--4-->
                    <a href="../solution/solution_jh.html">
                        <div class="aui-list-item-media  img_box">
                            <img src="../../../images/solution/solution.png">
                        </div>
                        <div class="aui-media-list-item-inner fangan">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title tb">Continuous Patient Monitoring</div>
                                </div>
                                <div class="aui-list-item-text wz">
                                    Vital signs monitoring and other factor s measurement for patient health, disease alarm and management.
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--5-->
                    <a href="../solution/solution_cpx.html">
                        <div class="aui-list-item-media  img_box">
                            <img src="../../../images/solution/solution_04.png">
                        </div>

                        <div class="aui-media-list-item-inner fangan">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title tb">Cardiopulmonary Test & Rehabilitation</div>
                                </div>
                                <div class="aui-list-item-text wz">                                    
                                    Comprehensive cardiopulmonary evaluation， exercise description， and exercise solutions
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--6-->
                    <a href="../solution/solution_yun.html">
                        <div class="aui-list-item-media  img_box">
                            <img src="../../../images/solution/solution_05.png">
                        </div>
                        <div class="aui-media-list-item-inner fangan">

                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title tb">Tele-Rehabilitation</div>
                                </div>
                                <div class="aui-list-item-text wz">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <!-- 为康复医院提供的远程康复平台，有效 连接病人、医院的设备，实现基于云的 康复信息化管理。 -->
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- <div class="aui-content aui-text-center bn">
                        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
                        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
    $('[data-sidenav]').sidenav();
</script>


</html>
