<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
		<meta name="referrer" content="never"/>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美德远健</title>
    <link rel="stylesheet" href="../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../css/dynamic.css">
     <link rel="stylesheet" href="../../css/common.css">
    <script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<body>
    <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--首页-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">首页</span>
	        </a>
            </li>

            <!--产品中心-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
            <!--解决方案-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">解决方案</span>
	          
	        </a>
                
            </li>
            <!--关于我们-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">关于我们</span>
	        </a>
            </li>
            <!--远健动态-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">远健动态</span>
	        </a>
            </li>
            <!--远健招聘-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">远健招聘</span>
	        </a>
            </li>
            <!--联系我们-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">联系我们</span>
	        </a>
            </li>
            <!--中英文切换-->
            <li>
              <a href="../madecare_En/index.html">
              <span class="sidenav-link-icon">
                <i class="material-icons">language</i>
              </span>
                  <span class="sidenav-link-title">English</span>
              </a>
          </li>
        </ul>
    </nav>

    <!--远健动态-->
    <div class="aui-content">
        <img src="../../images/banner-news.png" alt="" class="ban">
    </div>
    <p class="aui-padded-10 aui-text-center dt">远健动态</p>
    <div class="bx">
        <h3>2016北京国际医学工程转化高峰论坛在京召开</h3><span>时间：2016-10-13 &nbsp &nbsp&nbsp&nbsp 发布者：xxx</span>
        <img src="../../images/index/syb_1.jpg" style="margin-top:0.5rem;">
        <p>&nbsp &nbsp&nbsp&nbsp中国经济网北京10月13日讯 由中国食品药品企业质量安全促进会、中关村医学工程转化中心、宾夕法尼亚大学医学转化中心共同主办的“2016北京国际医学工程转化高峰论坛”于12日-13日在中关村医学工程转化中心召开。国家食药监总局、工信部、卫计委、国家中医管理局等部委、局和北京市相关部门领导；美国医学诺奖得主、中美科学院院士、工程院院士、博士生导师、教授、博士、学者、国家转化医学项目研究学科领衔科学家、生命科学中心总裁、医学转化中心主任等科学家、医学专家；国内相关三甲医院、医药科研机构、企业家和投资人等650余人齐聚园区。
            　　</p><p> &nbsp &nbsp&nbsp&nbsp据悉，本次论坛的中方大会主席由中国工程院院士、中国转化医学领域科学家、博士生导师、十一届全国人大副委员长、农工党中央主席桑国卫先生担任；外方主席由美国国家科学院院士、博士Harvey F.Lodish先生担任。桑国卫先生在致辞中表示，加速转化医学研究进程，为人类健康做出贡献，是研究转化医学最终追求的理想和目标。本次大会以推动中国医学转化工程与国际接轨，有机地整合国际相关资源和要素，创新和发展中国医学工程转化为宗旨，对加速我国转化医学的发展，具有积极意义。大会外方主席Harvey
            F.Lodish在致辞中表示，十分高兴参加此次会议，中国政府对转化医学支持力度很大，这样的大会在这样一个科技氛围很浓的园区举办，让理论和实践联系会更加紧密。</p>
        <p>&nbsp &nbsp&nbsp&nbsp转化医学这一学科被科学界提出至今，已有十多年时间，它的快速发展引起了很多国家的重视，也日益受到各国医学界的广泛关注。我国在转化医学研究机构建设和具体实施方面也有较快的进展，但客观而言，我国转化医学研究尚处于起步和探索阶段，距国际先进水平还有相当的距离，特别是从“基础”到“临床”科研成果转化率还很低。国家食药监总局副局长焦红在讲话中强调“今天我们在这里举办转化医学的国际会议，具有特殊的积极意义，为了突破转化医学中科研成果转化率低的瓶颈，国家食药监总局政策助力了中关村医学工程转化中心的创建和发展。中心在开园不到一年的时间里，积极构建了集科研、临床、检验检测认证、投资、市场及相关配套服务为一体的药品医疗器械创新创业生态系统；激发创新创业，推动中关村生物医药、医疗器械和相关产业向高端发展，取得了可喜的阶段性成果，这不仅在北京而且在全国医学转化领域，也发挥了很好的示范和引领作用。”</p>
    </div>
    <!--底部-->
    <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div>

</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
    $('[data-sidenav]').sidenav();

</script>

</html>
