<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
		<meta name="referrer" content="never"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美德远健</title>
    <link rel="stylesheet" href="../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../css/dynamic.css">
     <link rel="stylesheet" href="../../css/common.css">
    <script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<body>
    <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--首页-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">首页</span>
	        </a>
            </li>

            <!--产品中心-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
            <!--解决方案-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">解决方案</span>
	          
	        </a>
                
            </li>
            <!--关于我们-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">关于我们</span>
	        </a>
            </li>
            <!--远健动态-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">远健动态</span>
	        </a>
            </li>
            <!--远健招聘-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">远健招聘</span>
	        </a>
            </li>
            <!--联系我们-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">联系我们</span>
	        </a>
            </li>
            <!--中英文切换-->
        <li>
          <a href="../madecare_En/index.html">
           <span class="sidenav-link-icon">
            <i class="material-icons">language</i>
          </span>
              <span class="sidenav-link-title">English</span>
          </a>
      </li>
        </ul>
    </nav>

    <!--远健动态-->
    <div class="aui-content">
        <img src="../../images/banner-news.png" alt="" class="ban">
    </div>
    <p class="aui-padded-10 aui-text-center dt">远健动态</p>
    <div class="bx">
        <h3>化繁为简|国际康复设备展览会</h3><span>时间：2019-11-08 &nbsp &nbsp&nbsp&nbsp 发布者：xxx</span>

<img src="./118-447b912c18015b8d0ae4a4e1404bf995.png" style="margin-top:0.5rem;">
        <p> 为加强康复医学学术交流与合作，发挥高端学术会议引领辐射作用，打造综合学术年会品牌，2019年11月22至24日，中国康复医学会将在北京市国家会议中心举办2019第三届中国康复医学会综合学术年会暨国际康复设备展览会。</p>
   <p>本届会议围绕“守正创新，融合发展”主题，紧盯康复医学科技发展前沿，安排第三届国际综合康复主论坛及50余场学术会议，会聚康复、医疗、护理、疗养、养老等领域国内外知名专家，研讨交流先进康复理念、技术创新与服务经验，展示国内外康复医学科技发展最新成果，开展康复技术理论和操作培训，谋划助推康复医学未来发展，汇集诸多实用与前沿，国内与国际兼容并蓄精品内容。</p>
	<p>此次大会，美德远健将携能将CPET测试“化繁为简”的CPX-600高级心肺功能评测系统隆重登场，诚挚地邀请您莅临美德远健展位C45参观体验！</p>
<img src="./4-cccf72fb472f582ea79736c1382d1848.png" style="margin-top:0.5rem;">
	
	<p>“CPX-600高级心肺功能评测系统”是一款采用先进传感器技术、先进算法，集运动气体代谢、运动心电/血压/血氧监测和营养代谢评估于一体，具有全面心肺功能快速精确评测的医疗设备。满足国际权威的美国心脏协会（AHA）、美国胸科协会（ATS）、美国胸科医师协会（ACCP）和美国运动医学会（ACSM）等发布的指导要求。适用于康复科、心脏科、呼吸科等需要进行心肺功能测定和康复的患者，以及各种需要心肺功能评测指导下的身体康复的患者。主要针对心肺功能不全者进行运动心肺试验、静态心测试、静态肺功能测试，对营养代谢疾病患者进行运动营养代谢分析、基础代谢率测定。</p>
	<img src="./640-86bddc860121fbca99862217a49c3310.gif" style="margin-top:0.5rem;">
	<img src="./7-61d117053ea840153d8dec5dd638059f.jpg" style="margin-top:0.5rem;">
	</div>
    <!--底部-->
    <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div>

</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
    $('[data-sidenav]').sidenav();

</script>

</html>
