<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
		<meta name="referrer" content="never"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美德远健</title>
    <link rel="stylesheet" href="../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../css/dynamic.css">
     <link rel="stylesheet" href="../../css/common.css">
    <script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<body>
    <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--首页-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">首页</span>
	        </a>
            </li>

            <!--产品中心-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
            <!--解决方案-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">解决方案</span>
	          
	        </a>
                
            </li>
            <!--关于我们-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">关于我们</span>
	        </a>
            </li>
            <!--远健动态-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">远健动态</span>
	        </a>
            </li>
            <!--远健招聘-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">远健招聘</span>
	        </a>
            </li>
            <!--联系我们-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">联系我们</span>
	        </a>
            </li>
            <!--中英文切换-->
        <li>
          <a href="../madecare_En/index.html">
           <span class="sidenav-link-icon">
            <i class="material-icons">language</i>
          </span>
              <span class="sidenav-link-title">English</span>
          </a>
      </li>
        </ul>
    </nav>

    <!--远健动态-->
    <div class="aui-content">
        <img src="../../images/banner-news.png" alt="" class="ban">
    </div>
    <p class="aui-padded-10 aui-text-center dt">远健动态</p>
    <div class="bx">
        <h3>2018春季CMEF初次亮相并获得广泛关注</h3><span>时间：2018-04-11 &nbsp &nbsp&nbsp&nbsp 发布者：xxx</span>
        <img src="../../images/index/cmef_1.jpg" style="margin-top:0.5rem;">
        <img src="../../images/index/cmef_2.jpg" style="margin-top:0.5rem;">
        <img src="../../images/index/cmef_3.jpg" style="margin-top:0.5rem;">
        <img src="../../images/index/cmef_4.jpg" style="margin-top:0.5rem;">

        <p> 2018年4月11-14日，美德远健精彩亮相亚太地区最大的医疗器械展览会-中国国际医疗器械博览会（CMEF），吸引了海内外客户、友商以及代理商的高度关注。
            美德远健秉持“数据引领 智能康护”的理念，首次亮相就推出了多款数字化、智能化的高端康复/护理产品，包括力感减重下肢康复机器人、智能转移/康复系统、长期
            床旁监护系统，几款产品均获得了终端用户的广泛好评。</p>
    </div>
    <!--底部-->
    <div class="aui-content aui-text-center bn">
        美德远健（北京）医疗系统科技有限公司 <br> 版权所有
        <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
    </div>

</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
    $('[data-sidenav]').sidenav();

</script>

</html>
