<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="referrer" content="never"/>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>美德远健</title>
		<link rel="stylesheet" href="../../libs/aui/aui.css">
		<link rel="stylesheet" href="../../css/dynamic.css">
		<link rel="stylesheet" href="../../css/common.css">
		<script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
		<script src="../../libs/sidenav/sidenav.min.js"></script>
		<link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
		<!-- HTTP 1.1 -->
		<meta http-equiv="pragma" content="no-cache"> <!-- HTTP 1.0 -->
		<meta http-equiv="cache-control" content="no-cache"> <!-- Prevent caching at the proxy server -->
		<meta http-equiv="expires" content="0">
	</head>
	<body>
		<header class="aui-bar aui-bar-nav">
			<a class="aui-pull-left aui-btn" href="javascript:history.back(-1)">
				<span> <i class="material-icons ljt" style="font-size:1.6rem "> keyboard_arrow_left</i></span>
			</a>
			<a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
				<i class="material-icons">menu</i>
			</a>
		</header>
		<!--侧边栏导航的内容-->
		<nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
			<!--nav 最大的标题-->
			<div class="sidenav-brand">
				<a href="index.html">美德远健</a>
			</div>

			<ul class="sidenav-menu">
				<!--首页-->
				<li>
					<a href="../index.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">payment</i>
						</span>
						<span class="sidenav-link-title">首页</span>
					</a>
				</li>

				<!--产品中心-->
				<!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
				<!--解决方案-->
				<li>
					<a href="../solution/solution.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">assignment_ind</i>
						</span>
						<span class="sidenav-link-title">解决方案</span>

					</a>

				</li>
				<!--关于我们-->
				<li>
					<a href="../aboutus/aboutus.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">supervisor_account</i>
						</span>
						<span class="sidenav-link-title">关于我们</span>
					</a>
				</li>
				<!--远健动态-->
				<li>
					<a href="../dynamic/dynamic.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">work</i>
						</span>
						<span class="sidenav-link-title">远健动态</span>
					</a>
				</li>
				<!--远健招聘-->
				<li>
					<a href="../job/job.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">backup</i>
						</span>
						<span class="sidenav-link-title">远健招聘</span>
					</a>
				</li>
				<!--联系我们-->
				<li>
					<a href="../contact/contact.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">room</i>
						</span>
						<span class="sidenav-link-title">联系我们</span>
					</a>
				</li>
				<!--中英文切换-->
				<li>
					<a href="../madecare_En/index.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">language</i>
						</span>
						<span class="sidenav-link-title">English</span>
					</a>
				</li>
			</ul>
		</nav>

		<!--远健动态-->
		<div class="aui-content">
			<img src="../../images/banner-news.png" alt="" class="ban">
		</div>
		<p class="aui-padded-10 aui-text-center dt">远健动态</p>
		<div class="bx">
			<h3>了解心肺功能——CPET“肺”他莫属”</h3><span>时间：2020-10-29 &nbsp &nbsp&nbsp&nbsp 发布者：madecare</span>

			<p> 随着社会的高度发展，当前威胁我们健康的主要原因已由传染类疾病过渡到以心血管病、“ 三高”为代表的慢性病。而引起这些慢性病的主要原因之一就是缺乏足够的运动。因此，越来越多的人认识到运动的重要性，也积极主动地参与到运动健身的大潮中去。但运动隐藏着一定的风险。</p>
			<p>运动的好处: 通过科学的运动锻炼有助于降低血脂，可以提高心肺适应能力，增加心肌功能，减少血小板聚集；延缓动脉粥样硬化斑块的形成。</p>
			
			<p>运动的风险: 我们必须要明确运动是一柄双刃剑，在它在帮助我们改善健康、提高身体素质的同时也可能会导致如猝死、晕厥、损伤等危险事件发生。在运动所引发的所有风险中，心血管风险的危害无疑是最为严重的。根据调查发现，随着年龄的增长，人们从20 ~ 69 岁在运动中发生胸闷、胸痛、呼吸困难等心血管风险的比例由4 % 上升至58%，可谓是增长迅速，来势汹汹。</p>
			<p>自测VS精准测评：日常生活中，我们自测运动前后的脉搏差、血压等一些方法都不够精准和全面分析运动中心血管的风险。</p>
			<p>进行精准的测评，需要做CPET心肺运动负荷试验，不仅可以帮助大家及时了解自己的心血管情况，及时发现心血管风险，还可以及时采取防范措施，避免风险恶化而导致猝死等严重意外发生。</p>
			<p>下面我们来看CCTV2《职场健康课》节目中邀请北京大学第三医院心脏中心主任医师徐顺霖，是如何评估心肺耐力——CPET心肺运动负荷试验。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaNhfPEocoqLJ7ibj9MgHyDQylbtnD7wBsJeFzM9sAqBAfwxhPfNialMU9EnAyceZDicDf2VvYpr4YcHg/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>评估心肺耐力需要做心肺运动负荷试验</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaOE5ZL5ETicBJs1kDfmQQraUfngtOiczKicR2X8Rt5JytQEeNKcTAuicmo79vtXjhUFVVlqicynuMY01HA/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>测试者情况：马拉松选手——跑过多次马拉松，每次结束后很疲惫</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaOE5ZL5ETicBJs1kDfmQQraU3b7pauAsM5bR3LrxZro3fxg7CEDRvibbcfKRoVNIibOFb6lZyWLmMJYw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<p>逐步增加测试者的阻力 下面来看心血管的反应</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaOE5ZL5ETicBJs1kDfmQQraUJibEDXh4bgEsb3Tib5gE6HQWRGtbAsepPGOZPu9a2wlLpeSdia481ic80w/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<p>红色的线：摄氧量       蓝色的线：二氧化碳</p>
			<p>均为达标</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaOE5ZL5ETicBJs1kDfmQQraU99hlQsPmaZYRCEATqwOx19TPXG05hNeP6RPEdMY8gp8WXnicv47wqAw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<p>运动到极限的时候，发生了多次早搏</p>
			<p>从运动实验的角度，不安全</p>
			<p>这样的情况心脏科医生禁止跑马拉松</p>
			<p>在运动中出现的心血管风险如果不能引起大家的高度重视，那么我们为了获得健康而进行的运动就会变得不安全。为了让我们更有效，更安全的运动，我们应该在运动前提前了解自己在运动中出现在的问题，从而防范风险的发生。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaNvD3LO3VBKAha5nqquh8P0mdCyJxLEtVBvSVuLvqX3iacLicWianIfm7Yf38T4EFkibUd7yTU3gvrIibA/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>运动中风险的防范</p>
			<p>1.做心肺运动负荷试验，进行精准评估和全面分析心肺耐力。</p>
			<p>2.通过心肺运动负荷试验的评估报告，选择适合自己的运动形式。</p>
			<p>3.合理增加运动频率。</p>
			<p>4.注意运动强度。</p>
			 <video src="http://www.madecare.com/static/0bf2zyjoaaasiaaii5eixzpuftwd4dhbfyaa.f10002-fbcd474f4b84ebedc1b2abfc1f847d72.mp4" controls></video>
		</div>
		<!--底部-->
		<div class="aui-content aui-text-center bn">
			美德远健（北京）医疗系统科技有限公司 <br> 版权所有
			<br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED <br>京ICP备18045046号
		</div>

	</body>
	<script>
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
		window.onresize = function() {
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
		}
		$('[data-sidenav]').sidenav();
	</script>

</html>
