<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="referrer" content="never"/>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>美德远健</title>
		<link rel="stylesheet" href="../../libs/aui/aui.css">
		<link rel="stylesheet" href="../../css/dynamic.css">
		<link rel="stylesheet" href="../../css/common.css">
		<script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
		<script src="../../libs/sidenav/sidenav.min.js"></script>
		<link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
		<!-- HTTP 1.1 -->
		<meta http-equiv="pragma" content="no-cache"> <!-- HTTP 1.0 -->
		<meta http-equiv="cache-control" content="no-cache"> <!-- Prevent caching at the proxy server -->
		<meta http-equiv="expires" content="0">
	</head>
	<body>
		<header class="aui-bar aui-bar-nav">
			<a class="aui-pull-left aui-btn" href="javascript:history.back(-1)">
				<span> <i class="material-icons ljt" style="font-size:1.6rem "> keyboard_arrow_left</i></span>
			</a>
			<a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
				<i class="material-icons">menu</i>
			</a>
		</header>
		<!--侧边栏导航的内容-->
		<nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
			<!--nav 最大的标题-->
			<div class="sidenav-brand">
				<a href="index.html">美德远健</a>
			</div>

			<ul class="sidenav-menu">
				<!--首页-->
				<li>
					<a href="../index.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">payment</i>
						</span>
						<span class="sidenav-link-title">首页</span>
					</a>
				</li>

				<!--产品中心-->
				<!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
				<!--解决方案-->
				<li>
					<a href="../solution/solution.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">assignment_ind</i>
						</span>
						<span class="sidenav-link-title">解决方案</span>

					</a>

				</li>
				<!--关于我们-->
				<li>
					<a href="../aboutus/aboutus.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">supervisor_account</i>
						</span>
						<span class="sidenav-link-title">关于我们</span>
					</a>
				</li>
				<!--远健动态-->
				<li>
					<a href="../dynamic/dynamic.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">work</i>
						</span>
						<span class="sidenav-link-title">远健动态</span>
					</a>
				</li>
				<!--远健招聘-->
				<li>
					<a href="../job/job.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">backup</i>
						</span>
						<span class="sidenav-link-title">远健招聘</span>
					</a>
				</li>
				<!--联系我们-->
				<li>
					<a href="../contact/contact.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">room</i>
						</span>
						<span class="sidenav-link-title">联系我们</span>
					</a>
				</li>
				<!--中英文切换-->
				<li>
					<a href="../madecare_En/index.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">language</i>
						</span>
						<span class="sidenav-link-title">English</span>
					</a>
				</li>
			</ul>
		</nav>

		<!--远健动态-->
		<div class="aui-content">
			<img src="../../images/banner-news.png" alt="" class="ban">
		</div>
		<p class="aui-padded-10 aui-text-center dt">远健动态</p>
		<div class="bx">
			<h3>会议回顾 | 心肺运动试验临床应用与研究学术研讨会”</h3><span>时间：2021-06-25 &nbsp &nbsp&nbsp&nbsp 发布者：madecare</span>

			<p> 2021年6月25日由冀德远健旗下公司美德远健举办的心肺运动试验临床应用与研究学术研讨会在河北石家庄召开。来自河北省临床心脏康复的医务工作者参加了此次学术研讨会。</p>
			<p>美德远健携高级心肺功能评测系统 CPX-600参加了这次学术研讨会，为在场的专家提供了学术交流的技术操作平台，并就心肺运动试验临床应用与心脏康复新技术等前沿热点问题进行了广泛学术交流。</p>
			<video autoplay loop controls src="dynamic_20210626/new7.mp4"></video>
			<h2>1.主持会议——王颖 副总经理</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07InTjYTZABnHIA7DvP04PasvfGOiauJWEMBHeaNUcx99EU6BsUTrO3bicSA/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-582dc7c6b53e9664c7d3554873e763d3.jpg" style="margin-top:0.5rem;">
			<h2>2.心肺运动试验及解析——袁静 副主任</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07Iny7LaZLzAtQgZz44DsYhzkDfjVMfkjD9wmiaNMSBMnGicxiaZFNibcu0OibQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-02-dcbb780bad5778108f176d1d88c43579.jpg" style="margin-top:0.5rem;">
			<h2>3.心肺运动试验的临床应用 ——张青娟 护士长</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07In4egqWX9ZZU5Mdm2ydhXZx6R2D7RjpXNW6TrKGdYzkZNPkWlABuj8CQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-03-e726cdbe3407ab8152c2db7835c82832.jpg" style="margin-top:0.5rem;">
			<h2>4.心肺运动试验病例概括分析 ——赵鑫 医师</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07InibZJvxtNVK3tItnf5gdpJTvGrcey9ZPSbfRM6icgMtjnvLXwDbdQVGsg/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-04-ba4e61d03219c3c34c2183e6cac2b5ed.jpg" style="margin-top:0.5rem;">
			<p>此次会议，madecare将携能将CPET测试“化繁为简”的CPX-600高级心肺功能评测系统隆重登场。</p>
			<h2>5.CPX-600心肺运动试验演示——尹娜 副总经理</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07InQsicJ9FuZFmMZ7uIRXgL7YJrHUhOXSFvFialLsNxvZxLZuKpjiciaVibwlw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>高级心肺功能评测系统 CPX-600 演示</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07InBxibeDuAQ7hnkUwRu8NcCEvqv4mEkwAm9zzCcAAOVDkbdDrufuOcdzA/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-05-9592dc05c27fcdfe6acb3e1d68d6fd7a.jpg" style="margin-top:0.5rem;">
			<h2>6.专家讨论</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07Inoe8Lic9BjuiaeYFiaibqNR7KKUJ06x7PTx8WibIzK0GBmRiaD2TQOl3qI16Q/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-06-6bbd9bf60be47d48899d155bbe316ea0.jpg" style="margin-top:0.5rem;">
			<h2>7.大会总结</h2>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaPSQwWn8hr2J7DZbsNA07InVYKbAHDXwBpygWQXE1QShDiaWNDzeU3LFXxP3oib6IvfmXBBYiavPwyKA/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<img src="http://www.madecare.com/static/new7-07-8ac90f73fa23cb0688882d9126fa0196.jpg" style="margin-top:0.5rem;">
			<p>配有遥测运动心电及血压的高度自动化心肺评测系统（CPX）</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_png/KX9KudQjtaNSINXicQmxsL9SESQiaShA1zDdh1ibic1LQkckQrNsCaPu5kzwyQTJu4JanuCa4Lx3E28lt83533c3yA/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1" style="margin-top:0.5rem;">
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaNvD3LO3VBKAha5nqquh8P0mdCyJxLEtVBvSVuLvqX3iacLicWianIfm7Yf38T4EFkibUd7yTU3gvrIibA/640?wx_fmt=gif&wxfrom=5&wx_lazy=1">
			<h2>主要适用于</h2>
			<p>心内科、呼吸科、康复科等需要进行心肺功能测定和康复的患者，以及各种需要心肺功能评测指导下的身体康复的患者。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaOE5ZL5ETicBJs1kDfmQQraUJibEDXh4bgEsb3Tib5gE6HQWRGtbAsepPGOZPu9a2wlLpeSdia481ic80w/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<h2>产品功能</h2><p>流速、容量测试</p><p>一口气法气体成分分析（VO2， VCO2）</p><p>静态/动态肺功能测试</p><p>静态/运动心电图测量及分析</p>
			<p>基础/营养代谢测定及分析</p><p>运动血压测量和监控</p><p>血氧饱和度测量和监控</p><p>无创心排量测量（Wasserman）</p><p>辅助分析流程</p>
			<p>ACSM运动处方</p><p>多维度数据导出</p>
			<h2>产品优势</h2><p>精准测量、高度可靠</p><p>-快反应气体成分分析</p><p>-专利设计流量传感器</p><p>易学易用</p><p>-多维导航</p><p>-一键自动定标</p><p>-智能辅助</p>
			<p>全周期（早、中、后期）适用</p><p>无线分立的数据采集</p><p>紧凑型、可穿戴式设计</p>
			<h2>满足发布的指导要求</h2><p>国际权威的美国心脏协会（AHA）</p><p>美国胸科协会（ATS）</p><p>美国胸科医师协会（ACCP）</p><p>美国运动医学会（ACSM）</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll92Y2ibf16Lyb8C2zhvicJdiaCNQm4iaUXTrNniaRDJH2EBSJ8D3nlU6nWEfQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1">
			<p>此次学术研讨会推动了心脏康复中心标准化、规范化和专业化的建设，为心脏康复领域的医务工作者搭建了高水平的学术交流平台，充分展示了心脏康复的学术及临床研究成果，将进一步推动心脏康复的发展。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_jpg/KX9KudQjtaNDfwN2nLCAxCGezPed090q5icXXpERywxdxoPe1Fdv3Az91OJU0g5dXApncywgxIGP94DTbDP2RZw/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1" style="margin-top:0.5rem;">
			<p>与此同时，madecare 高级心肺功能评测系统 CPX-600 得到了业内专家学者们的高度赞赏。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_jpg/KX9KudQjtaPSQwWn8hr2J7DZbsNA07InlXnLRtzhVZ73SvibyQSzLb2KPibjMOWECyV83icJqOTJfeWzJCroWV8Cg/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1" style="margin-top:0.5rem;">
			<p>至此，2021年心肺运动试验临床应用与研究学术研讨会圆满落幕未来，美德远健会参与更多丰富多彩的学术活动与康复同仁们提供案例分享、交流、展示的平台不断为中国康复事业的发展贡献力量madecare依旧在等您</p>
		</div>
		<!--底部-->
		<div class="aui-content aui-text-center bn">
			美德远健（北京）医疗系统科技有限公司 <br> 版权所有
			<br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED <br>京ICP备18045046号
		</div>

	</body>
	<script>
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
		window.onresize = function() {
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
		}
		$('[data-sidenav]').sidenav();
	</script>

</html>
