<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="referrer" content="never"/>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>美德远健</title>
		<link rel="stylesheet" href="../../libs/aui/aui.css">
		<link rel="stylesheet" href="../../css/dynamic.css">
		<link rel="stylesheet" href="../../css/common.css">
		<script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
		<script src="../../libs/sidenav/sidenav.min.js"></script>
		<link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
		<!-- HTTP 1.1 -->
		<meta http-equiv="pragma" content="no-cache"> <!-- HTTP 1.0 -->
		<meta http-equiv="cache-control" content="no-cache"> <!-- Prevent caching at the proxy server -->
		<meta http-equiv="expires" content="0">
	</head>
	<body>
		<header class="aui-bar aui-bar-nav">
			<a class="aui-pull-left aui-btn" href="javascript:history.back(-1)">
				<span> <i class="material-icons ljt" style="font-size:1.6rem "> keyboard_arrow_left</i></span>
			</a>
			<a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
				<i class="material-icons">menu</i>
			</a>
		</header>
		<!--侧边栏导航的内容-->
		<nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
			<!--nav 最大的标题-->
			<div class="sidenav-brand">
				<a href="index.html">美德远健</a>
			</div>

			<ul class="sidenav-menu">
				<!--首页-->
				<li>
					<a href="../index.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">payment</i>
						</span>
						<span class="sidenav-link-title">首页</span>
					</a>
				</li>

				<!--产品中心-->
				<!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
				<!--解决方案-->
				<li>
					<a href="../solution/solution.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">assignment_ind</i>
						</span>
						<span class="sidenav-link-title">解决方案</span>

					</a>

				</li>
				<!--关于我们-->
				<li>
					<a href="../aboutus/aboutus.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">supervisor_account</i>
						</span>
						<span class="sidenav-link-title">关于我们</span>
					</a>
				</li>
				<!--远健动态-->
				<li>
					<a href="../dynamic/dynamic.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">work</i>
						</span>
						<span class="sidenav-link-title">远健动态</span>
					</a>
				</li>
				<!--远健招聘-->
				<li>
					<a href="../job/job.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">backup</i>
						</span>
						<span class="sidenav-link-title">远健招聘</span>
					</a>
				</li>
				<!--联系我们-->
				<li>
					<a href="../contact/contact.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">room</i>
						</span>
						<span class="sidenav-link-title">联系我们</span>
					</a>
				</li>
				<!--中英文切换-->
				<li>
					<a href="../madecare_En/index.html">
						<span class="sidenav-link-icon">
							<i class="material-icons">language</i>
						</span>
						<span class="sidenav-link-title">English</span>
					</a>
				</li>
			</ul>
		</nav>

		<!--远健动态-->
		<div class="aui-content">
			<img src="../../images/banner-news.png" alt="" class="ban">
		</div>
		<p class="aui-padded-10 aui-text-center dt">远健动态</p>
		<div class="bx">
			<h3>有效逆转高血压的“新处方”</h3><span>时间：2020-11-13 &nbsp &nbsp&nbsp&nbsp 发布者：madecare</span>

		
			<p>2019年中国心血管健康与疾病报告最新统计，大于18岁的成年人高血压患病率27.9%。我国成年人中每4个人就有1个高血压患者，是影响我国居民心血管健康的头号健康大敌。</p>
			<p>在2020年5月国际高血压学会制定了世界范围内使用的最新版ISH2020国际高血压实践指南，正式发布。</p>
			<p>《ISH2020国际高血压实践指南》中指出：改善生活方式已经成为第一线的降压治疗手段。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9NIVVnaw8LJOPf4v1LCvpW5nS4rEvQuMaskGa5gGib9iauCrLS6lKEZaw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>来自北京大学人民医院心血管内科的丁荣晶主任给我们讲讲有效逆转高血压的“新处方”。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9XpcSxjxOyIDCvFAdjr4Q4Veeag4euW49EyNFuoUbm2pt9ibDX1urMZg/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>丁荣晶 副主任医师 北京大学人民医院 心血管内科</p>
			<img src="./denamic_20201113/new6-3.jpg" >
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9wCytwd5kNgtCuPceyVIc8anNGRaNZmUFjPAVq47UUeZWclWonK4VVQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<p>“新处方”多久有效果</p>
			<p>“降压的“新处方”维持3-6个月，一次的治疗后，一个小时左右，实现5-10毫米汞柱的高压下降，3-5毫米汞柱的低压下降 。根据患者情况会让药物减掉或者不用吃药。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9VFiaOKYMAia7plYIDJZDsVc62ibvea9HNg2Y7ttEsib5Kjey3kRfCNZRcQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>“定制“新处方”——心肺运动负荷试验</p>
			<p>“高血压患者血压：高压：147mmhg 低压：109mmhg</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9QQrZOrqpOI2qAPibxNJk3q9lOrNZ11ZHqKC5qyzHLK6RBThcTpmMmEw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9sjXNF485Fkn3E2nQwCn0NAmicQ0ic2KuONjTCTlaygicyEsAzH7WyFiadQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<p>“开“新处方”前做一个重要的测试——心肺运动负荷试验。</p>
			<p>观察患者的活动状态以及血压、心率、心血管的反映情况，根据患者的反映情况量身定制“新处方”，帮助患者在日常生活中会降压。	</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9ia4icA2a9oT9cWlGu4WvPWoKu3O4DtCpFADX88zuNcPcPeckdnT1wjfw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<p>心肺运动负荷试验是一项重要的检查。</p>
			<p>日常生活中，人们在不了解自己的情况下活动时，风险更大。进行心肺运动负荷试验后，了解自己身体能接受的强度，在日常生活中是可控心血管的风险。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll96uqwktllriaBvAURzHb8oUiavWmSjXYjhgHx7DYOrtgl76QU6DJXzicAQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<img src="denamic_20201113/new6-10.png"/>
			<p>"配有遥测运动心电及血压的高度自动化心肺评测系统（CPX）。"</p>
			<p>主要适用于心内科、呼吸科、康复科等需要进行心肺功能测定和康复的患者，以及各种需要心肺功能评测指导下的身体康复的患者。</p>
			<h2>产品功能</h2><p>流速、容量测试</p><p>一口气法气体成分分析（VO2， VCO2）</p><p>静态/动态肺功能测试</p><p>静态/运动心电图测量及分析</p>
			<p>基础/营养代谢测定及分析</p><p>运动血压测量和监控</p><p>血氧饱和度测量和监控</p><p>无创心排量测量（Wasserman）</p><p>辅助分析流程</p>
			<p>ACSM运动处方</p><p>多维度数据导出</p>
			<h2>产品优势</h2><p>精准测量、高度可靠</p><p>-快反应气体成分分析</p><p>-专利设计流量传感器</p><p>易学易用</p><p>-多维导航</p><p>-一键自动定标</p><p>-智能辅助</p>
			<p>全周期（早、中、后期）适用</p><p>无线分立的数据采集</p><p>紧凑型、可穿戴式设计</p>
			<h2>满足发布的指导要求</h2><p>国际权威的美国心脏协会（AHA）</p><p>美国胸科协会（ATS）</p><p>美国胸科医师协会（ACCP）</p><p>美国运动医学会（ACSM）</p>
			<p>高血压患者进行心肺运动负荷试验后：</p>
			<p>高压：190mmhg 低压：114mmhg 心率：115次每分 呼吸急促、微汗</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9w5QKoIrfuDHQx2AXow8Y8icoL8jCzBX4wegOibeic1CnurRwF0vdkehrg/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<p>打印报告，量身定制“降压运动处方”</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9rVEqqWZvxSib8ClkFiayEQldOg4yHVnkNPkmJB2Oh1r7Z8pYKriaRSaDg/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<h2>解读高血压患者测试报告</h2>
			<p>患者达到了最大运动耐力，在达到最高运动强度时，血压：190mmhg。</p>
			<p>患者的运动状态血压应激反应特别明显。</p>
			<p>没有高血压的个体在运动中，血压上升，意味着有患高血压的高度风险。</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9vqIg2VnKEgFLWiaH2xhP04aWS0gRlTdDSIGA997xmB0jaicnDoqpheTQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<h2>量身定制“降压新处方”</h2>
			<p>根据高血压患者个人身体情况定制：</p>
			<p>有氧运动、蹬车交替，每天30分钟</p>
			<p>心率90-100分/次 每周7天</p>
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9ibE5vqicVC4qkPONicvYq3rUXhxRMvFyBxfgTkVu3zAPYs3GsvHqYD7yg/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9dJr95sh8sNv4vWpFUXVcfUDgPiaeQ7L6dAaE62fq16MLttyQHwia9U5Q/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll92Y2ibf16Lyb8C2zhvicJdiaCNQm4iaUXTrNniaRDJH2EBSJ8D3nlU6nWEfQ/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" >
			<img src="https://mmbiz.qpic.cn/mmbiz_gif/KX9KudQjtaMshwzc2DicOAPQhhvoD9Ll9PM9Bic75ESibOAToM9yvVADRiadxAyUiaKMJGhdXSHfoicDswpFTRQBDjQw/640?wx_fmt=gif&wxfrom=5&wx_lazy=1" />
			<iframe src="https://v.qq.com/txp/iframe/player.html?vid=w3203sjyma4" width="100%" height="300px"></iframe>
		</div>
		<!--底部-->
		<div class="aui-content aui-text-center bn">
			美德远健（北京）医疗系统科技有限公司 <br> 版权所有
			<br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED <br>京ICP备18045046号
		</div>

	</body>
	<script>
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
		window.onresize = function() {
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
		}
		$('[data-sidenav]').sidenav();
	</script>

</html>
