html,
body {
  position: relative;
  height: 100%;
  background-color: #fff;
}
.dongtai {
  height: 5.5rem ;
}
.ban {
  width: 100%;
  height: auto ;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 14.5rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  outline: none;
  border: 0;
  height: 100%;
  width: 100%;
}
.zn {
  font-size: 1rem;
  color: #025361;
  background-color: #f6f6f6;
}
.aui-content {
  background-color: #fff;
}
.aui-content li {
  width: 100%;
  height: 3rem;
  margin: .6rem;
  color: #333;
  padding-right: 1rem;
}
.aui-content li img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.aui-content li p {
  line-height: 0.8rem;
}
.aui-content li p .more {
  font-size: 0.6rem;
}
.dt {
  background-color: #fff;
  font-size: 1rem;
  color: #333;
}
.aui-content .aui-list-view .yjdt {
  display: block;
  height: 4.5rem;
  width: 100%;
  margin: .6rem;
  color: #333;
  padding-right: 1rem;
}
.bn {
  margin-top: 1rem;
  color: #fff;
  background-color: #025361;
}
.swiper-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #025361;
}
a {
  color: #333;
}
.logo img {
  display: block;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.4rem;
}
