<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美德远健</title>
    <link rel="stylesheet" href="../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../css/solution_jh.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
    <script src="../../libs/sidenav/sidenav.min.js"></script>
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<body>
    <!--header-->
    <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>

    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--首页-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">首页</span>
	        </a>
            </li>

            <!--产品中心-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
            <!--解决方案-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">解决方案</span>
	          
	        </a>
                
            </li>
            <!--关于我们-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">关于我们</span>
	        </a>
            </li>
            <!--远健动态-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">远健动态</span>
	        </a>
            </li>
            <!--远健招聘-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">远健招聘</span>
	        </a>
            </li>
            <!--联系我们-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">联系我们</span>
	        </a>
            </li>
                      <!--中英文切换-->
          <li>
            <a href="../madecare_En/index.html">
            <span class="sidenav-link-icon">
                <i class="material-icons">language</i>
            </span>
                <span class="sidenav-link-title">English</span>
            </a>
          </li>
        </ul>
    </nav>

    <div class="aui-content">
        <!-- <img src="../../images/solution/solu.png" class="ban"> -->
        <div class="content">
            <div class="content_bg">
                <div class="content_box">
                    <h3 class=" aui-text-center zn" style="padding: 0.5rem !important;font-size:1rem;">长期床旁监护</h3>
                    <!-- <h4 class=" aui-text-center ">应用解决的问题</h4> -->
                    <div class="main">
                        <img src="../../images/solution/jh_03.png" alt="" class="tu">
                        <!-- <ul>
                            <li class="fs">系统的组成</li>
                            <li><span>● </span> 无接触生命体征监测传感器，固定在病床上</li>
                            <li><span>● </span> 床旁监视器，安装在床旁</li>
                            <li><span>● </span> 数据服务器，放置在护士站或医院机房</li>
                            <li><span>● </span> 集中监测工作站，放置在护士站</li>
                            <li><span>● </span> 壁挂监视器，安装在走廊墙上</li>
                            <li><span>● </span> 壁挂监视器，安装在走廊墙上</li>
                        </ul> -->
                        <p style="margin-top: 4%;">
                          “PMS-600长期床旁监护系统”是一款适合于养老院、医院等，用于老人或患者长期健康监测和身体异常预警的系统。采用了先进的传感技术及算法，能对心率、呼吸、体动进行监测，实现了心率变异分析、翻身提醒、睡眠分析、中央监测等功能。完全不接触身体、不干扰使用者的生活习惯，基于云的数据采集和管理技术将助力远程监护和中央监测先进管理模式的升级。
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="aui-content aui-text-center bn">
        <p> 美德远健（北京）医疗系统科技有限公司 <br> 版权所有
            <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号</p>

    </div> -->
</body>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }
      $('[data-sidenav]').sidenav();
</script>

</html>
