<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美德远健</title>
    <link rel="stylesheet" href="../../libs/aui/aui.css">
    <link rel="stylesheet" href="../../css/project_td.css">
     <link rel="stylesheet" href="../../css/common.css">
    <script type="text/javascript" src="../../libs/jquery-1.8.2.min.js"></script>
    <script src="../../libs/sidenav/sidenav.min.js"></script>
    <link rel="stylesheet" href=" http://fonts.googleapis.com/icon?family=Material+Icons " type="text/css">
<!-- HTTP 1.1 -->  <meta http-equiv="pragma" content="no-cache">  <!-- HTTP 1.0 -->  <meta http-equiv="cache-control" content="no-cache">  <!-- Prevent caching at the proxy server -->  <meta http-equiv="expires" content="0">  </head>
<style>
    .td {
        width: 50%;
        margin: 0 auto;
    }

    .lis {
        margin: 0.5rem;
    }

    .lis li {
        font-size: 0.6rem;
        line-height: 1.2rem;
    }

    .lis li span {
        font-size: 0.8rem;
    }
    .yun{
        margin: 0.5rem;
    }
</style>

<body>
      <!--header-->
     <header class="aui-bar aui-bar-nav">
         <a class="aui-pull-left aui-btn"  href="javascript:history.back(-1)">
        <span> <i class="material-icons ljt" style="font-size:1.6rem "  > keyboard_arrow_left</i></span>
       </a>
        <a href="javascript:;" class="toggle aui-pull-right aui-btn" id="sidenav-toggle">
	     <i class="material-icons">menu</i>
	   </a>
    </header>
    <!--侧边栏导航的内容-->
    <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <!--nav 最大的标题-->
        <div class="sidenav-brand">
            <a href="index.html">美德远健</a>
        </div>

        <ul class="sidenav-menu">
            <!--首页-->
            <li>
                <a href="../index.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">payment</i>
	          </span>
	          <span class="sidenav-link-title">首页</span>
	        </a>
            </li>

            <!--产品中心-->
            <!-- <li>
                <a href="../project/project.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">shopping_cart</i>
	          </span>
	          <span class="sidenav-link-title">产品中心</span>
	          
	        </a>
                <ul class="sidenav-dropdown" data-sidenav-dropdown>                <li><a href="../project/project.html">产品中心</a></li>                <li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li>                <li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>                <li><a href="../project/project_td.html">智能康复/转移系统</a></li>                <li><a href="../project/project_jh.html">长期床旁监护系统</a></li>                <li><a href="../project/project_dn.html">智能导尿器/智能导尿系统</a></li>                <li><a href="../project/project_yun.html">远健云平台</a></li><li><a href="../project/project_dws1000.html">力感减重下肢康复机器人</a></li><li><a href="../project/project_tr800.html">全自动智能转移系统</a></li>
                </ul>
            </li> -->
            <!--解决方案-->
            <li>
                <a href="../solution/solution.html" >
	          <span class="sidenav-link-icon">
	            <i class="material-icons">assignment_ind</i>
	          </span>
	          <span class="sidenav-link-title">解决方案</span>
	          
	        </a>
                
            </li>
            <!--关于我们-->
            <li>
                <a href="../aboutus/aboutus.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">supervisor_account</i>
	          </span>
	          <span class="sidenav-link-title">关于我们</span>
	        </a>
            </li>
            <!--远健动态-->
            <li>
                <a href="../dynamic/dynamic.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">work</i>
	          </span>
	          <span class="sidenav-link-title">远健动态</span>
	        </a>
            </li>
            <!--远健招聘-->
            <li>
                <a href="../job/job.html">
	          <span class="sidenav-link-icon">
	            <i class="material-icons">backup</i>
	          </span>
	          <span class="sidenav-link-title">远健招聘</span>
	        </a>
            </li>
            <!--联系我们-->
            <li>
                <a href="../contact/contact.html">
	           <span class="sidenav-link-icon">
	            <i class="material-icons">room</i>
	          </span>
	          <span class="sidenav-link-title">联系我们</span>
	        </a>
            </li>
                      <!--中英文切换-->
          <li>
            <a href="../madecare_En/index.html">
            <span class="sidenav-link-icon">
                <i class="material-icons">language</i>
            </span>
                <span class="sidenav-link-title">English</span>
            </a>
          </li>
        </ul>
    </nav>

    <!--内容-->

    <div class="aui-content">
        <!-- <img src="../../images/project/pro_yunbanner.png" alt="" class="ban"> -->
        <div class="aui-content ">
          <h3 class=" aui-text-center zn" style="padding: 0.5rem !important;font-size:1rem;">远程云管理</h3>

            <!-- <h3 class="aui-padded-10 aui-text-center"> 产品特点</h3> -->
        </div>
                <!--产品功能-->
        <!-- <h4 class="aui-padded-10 aui-text-center"> 产品功能</h4> -->
        <div class="aui-content yun">
          <img src="./cloud_manage-3fc9403a9a26c81fb3491f14565bfdab.png" alt="">
      </div>
        <div class="aui-content">
            <div class="aui-img-body">
<!--                <ul class="lis">                   
                    </ul> -->
            <p style="margin: 4% 5% 1%;">为康复医院提供的远程康复平台，有效连接患者、医院的设备，实现基于云的康复信息化管理。</p>
            <p style="margin: 1% 5%;">为养老院和护理机构提供老人或患者智能监护、高效管理的云服务平台，有效连接老人、患者、智能设备、护理人员、管理人员，实现移动、远程的高效管理。</p>
          </div>
        </div>

        <!--底部-->
        <!-- <div class="aui-content aui-text-center bn">
            美德远健（北京）医疗系统科技有限公司 <br> 版权所有
            <br> COPYRIGHT 2019 MADECARE ALL RIGHTS RESERVED     <br>京ICP备18045046号
        </div> -->
    </div>
</body>
<script>
      $('[data-sidenav]').sidenav();
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    }

</script>

</html>
