.banner {
  margin-top: 4.0625rem;
  width: 100%;
  height: 22.5rem;
}

.banner_title {
  color: #fff;
  padding-top: 10%;
  padding-left: 20%;
  font-size: 2.5rem
}

.recruit {
  width: 68.75rem;
  height: 100%;
  margin: 1.5625rem auto;
}

.title {
  font-size: 1.875rem;
  line-height: 1.5rem;
  color: #333;
  display: inline-block
}
